extends layout

block content
  h1= title
  p i am crazy #{title}
  br
  - var btnType = 'primary'
  - var btnSize = 'lg'
  button(type='button' class='btn btn-' + btnType + ' btn-' + btnSize, onClick = "moreClaps()") press me
  div(id = "target") Clap for me

    script.
      var clap_count = 0;
      function moreClaps(){
        clap_count = clap_count + 2;
        document.getElementById("target").innerHTML = 'Clap '+ clap_count +' times';
      }

  - var tea= ['tea_flavour','tea_size','tea_cost']
  a(href='/tea') Click here to search for tea