extends layout 
 
block content 
  h1= title 
 
    
  - let mobileid = toShow._id 
  - let mobile_brand = toShow.mobile_brand 
  - let mobile_color = toShow.mobile_color
  - let mobile_cost = toShow.mobile_cost
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{mobileid} 
  - let actionid = "/resource/mobile/" + mobileid 
  form(id='mobileForm', action= actionid, method="PUT") 
    div.form-group 
        label.mobileAttr(for='mobile_brand') mobile brand
        input#mobile_brand(type='text', name='mobile_brand', value= mobile_brand ) 
    div.form-group 
        label.mobileAttr(for='mobile_color') mobile color
        input#mobile_color(type='text', name='mobile_color', value= mobile_color) 
    div.form-group 
        label.mobileAttr(for='mobile_cost') mobile cost 
        input#mobile_cost(type='number', name='mobile_cost', value= mobile_cost ) 
    input(type="submit") 
 
  script. 
    document.forms['mobileForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 
